Package: oracle-sqoop-connector
Version: 0.0.1-1
Section: base
Priority: optional
Architecture: all
Depends: sqoop
Maintainer: Botond Balazs <balazsbotond@gmail.com>
Description: Oracle connector for sqoop command-line application 1.4.6
 Oracle connector for Sqoop: ojdbc14.
